## Segmenting and Clustering Neighborhoods in Toronto - Part 1

### Import librarys

In [0]:
import numpy as np
import pandas as pd
import requests
import csv
from bs4 import BeautifulSoup


### Scrape the Wikipedia page.

In [0]:
request = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(request, 'lxml')
table = soup.find('table')

In [0]:
csv_writer = csv.writer(open('data.csv', 'w'))

In [4]:
hang = []

for th in table.find_all('th'):
    row_value = th.text.rstrip()
    
    hang.append(row_value)

csv_writer.writerow(hang)

32

In [0]:
for tr in table.find_all('tr'):
    i=0
    row=[]
    discard = False
    postalCode = None
    borough = None
    neighbourhood = None
    for td in tr.find_all('td'):
        if i==0:
            postalCode = td.text.rstrip()
        elif i==1:
            if (td.text.rstrip() == 'Not assigned'):
                discard = True
            else:
                borough = td.text.rstrip()
        else:
            i=0
            if (td.text.rstrip() == 'Not assigned'):
                neighbourhood = borough
            else:
                neighbourhood = td.text.rstrip()
        i=i+1
    if (discard == False):
        row.append(postalCode)
        row.append(borough)
        row.append(neighbourhood)
        csv_writer.writerow(row)
        #print(row)

In [8]:
df = pd.read_csv('data.csv')
df.head(5)

  Postcode           Borough     Neighbourhood
0      NaN               NaN               NaN
1      M3A        North York         Parkwoods
2      M4A        North York  Victoria Village
3      M5A  Downtown Toronto      Harbourfront
4      M5A  Downtown Toronto       Regent Park

In [9]:
df.shape[0]

263

In [10]:
df_mod = df.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(lambda x: "%s" % ', '.join(x))
df_mod = df_mod.reset_index()
df_mod.head(10)

  Postcode      Borough                                      Neighbourhood
0      M1B  Scarborough                     Rouge, Malvern, Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union, Highla...
2      M1E  Scarborough  Guildwood, Morningside, West Hill, Guildwood, ...
3      M1G  Scarborough                                     Woburn, Woburn
4      M1H  Scarborough                               Cedarbrae, Cedarbrae
5      M1J  Scarborough                                Scarborough Village
6      M1K  Scarborough        East Birchmount Park, Ionview, Kennedy Park
7      M1L  Scarborough                    Clairlea, Golden Mile, Oakridge
8      M1M  Scarborough    Cliffcrest, Cliffside, Scarborough Village West
9      M1N  Scarborough                        Birch Cliff, Cliffside West

In [11]:
df.shape[0]

263

Thank for reviewing