### Part 2

In [0]:
import numpy as np
import pandas as pd
import requests
import csv
from bs4 import BeautifulSoup

In [0]:
url = 'http://cocl.us/Geospatial_data'
df_geo=pd.read_csv(url)

In [9]:
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [10]:
df_geo.shape

(103, 3)